#compiled output
dist/
tmp/
out-tsc/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store


[Oo]bj/
[Bb]in/
node_modules/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.bin
*.vs/
.testPublish/
*.VC.*db
*.obj
*.tlog
*.CppClean.log

**/Debug/
**/obj/
**/x64/
**/bin/

*.aps
*.pdb
*.lib
*.idb

.build
*.thisshouldberollbacked